<h1>Test corner</h1>
My name : {{my_name}} (based on component)

<h1>Using Counter component</h1>
{{x-counter}}
{{x-counter number=42}}
  {{#x-counter}} Alex was here (using yield in template)
  {{/x-counter}}
<HR/>